.tile {
  position: absolute;
  color: #776e65;
  background: #C2B3A3;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 800;
  border-radius: 5px;
}

.tile-2 {
  background: #eee4da;
}

.tile-4 {
  background: #E9DBBA;
}

.tile-8 {
  color: whitesmoke;
  background: #E9A067;
}

.tile-16 {
  color: whitesmoke;
  background: #F08151;
}

.tile-32 {
  color: whitesmoke;
  background: #F2654F;
}

.tile-64 {
  color: whitesmoke;
  background: #F1462C;
}

.tile-128 {
  font-size: 35px;
  color: whitesmoke;
  background: #E7C65E;
}

.tile-256 {
  font-size: 35px;
  color: whitesmoke;
  background: #E8C350;
}

.tile-512 {
  font-size: 35px;
  color: whitesmoke;
  background: #E8BE40;
}

.tile-1024 {
  font-size: 25px;
  color: whitesmoke;
  background: #E8BB31;
}

.tile-2048 {
  font-size: 25px;
  color: whitesmoke;
  background: #E7B723;
}

.tile-4096 {
  font-size: 25px;
  color: whitesmoke;
  background: #E7B723;
}

.tile-8192 {
  font-size: 25px;
  color: whitesmoke;
  background: #E7B723;
}

.tile-16384 {
  font-size: 15px;
  color: whitesmoke;
  background: #E7B723;
}

.tile-32768 {
  font-size: 15px;
  color: whitesmoke;
  background: #E7B723;
}

.tile-65536 {
  font-size: 15px;
  color: whitesmoke;
  background: #E7B723;
}

.tile.new {
  animation-duration: 0.20s;
  animation-name: newTile;
  animation-fill-mode: forwards;
  animation-delay: 0.25s;
  transform: scale(0);
}

@keyframes newTile {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes hide {
  to {
    display: none;
  }
}

@for $row from 0 through 8 {
  @for $column from 0 through 8 {
    .row_#{$row}_column_#{$column}:not(.isMoving) {
      top: 80 * $row + 3 * $row + 3 * ($row + 1) + 5px;
      left: 80 * $column + 3 * $column + 3 * ($column + 1) + 5px;
    }
  }
}

@for $fromRow from 0 through 8 {
  @for $toRow from 0 through 8 {
    $name: move_row_from_#{$fromRow}_to_#{$toRow};

    @if $fromRow == $toRow {
      .#{$name} {
        top: 80 * $fromRow + 3 * $fromRow + 3 * ($fromRow + 1) + 5px;
      }
    } @else {
      .#{$name} {
        animation-duration: 0.20s;
        animation-name: #{$name};
        animation-fill-mode: forwards;
      }

      .#{$name}.deleted {
        animation-name: #{$name} 0.20s linear, hide 0.20s linear 0.20s;
        animation-fill-mode: forwards;
      }

      @keyframes #{$name} {
        from {
          top: 80 * $fromRow + 3 * $fromRow + 3 * ($fromRow + 1) + 5px;
        }
        to {
          top: 80 * $toRow + 3 * $toRow + 3 * ($toRow + 1) + 5px;
        }
      }
    }
  }
}

@for $fromColumn from 0 through 8 {
  @for $toColumn from 0 through 8 {
    $name: move_column_from_#{$fromColumn}_to_#{$toColumn};

    @if $fromColumn == $toColumn {
      .#{$name} {
        left: 80 * $fromColumn + 3 * $fromColumn + 3 * ($fromColumn + 1) + 5px;
      }
    } @else {
      .#{$name} {
        animation-duration: 0.20s;
        animation-name: #{$name};
        animation-fill-mode: forwards;
      }

      .#{$name}.deleted {
        animation-name: #{$name} 0.20s linear, hide 0.20s linear 0.20s;
        animation-fill-mode: forwards;
      }

      @keyframes #{$name} {
        from {
          left: 80 * $fromColumn + 3 * $fromColumn + 3 * ($fromColumn + 1) + 5px;
        }
        to {
          left: 80 * $toColumn + 3 * $toColumn + 3 * ($toColumn + 1) + 5px;
        }
      }
    }
  }
}
